anndata==0.10.7
scanpy==1.10.1
muon==0.1.6
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
scipy==1.13.1
matplotlib==3.9.0
seaborn==0.13.2
pillow==10.3.0
adjustText==1.1.1
igraph==0.11.5
leidenalg==0.10.2
cython>=3.0